<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>735000497246-mnmcp8jfsn4i9i80hdmu4018cbs2sfb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735000497246-mnmcp8jfsn4i9i80hdmu4018cbs2sfb8</string>
	<key>API_KEY</key>
	<string>AIzaSyBK9mwlwpD7GS-HmbssIRNzRUp6aYFHAws</string>
	<key>GCM_SENDER_ID</key>
	<string>735000497246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malikbrowne.factsOfToday</string>
	<key>PROJECT_ID</key>
	<string>facts-of-today</string>
	<key>STORAGE_BUCKET</key>
	<string>facts-of-today.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:735000497246:ios:2fca40c34f75e6b9</string>
	<key>DATABASE_URL</key>
	<string>https://facts-of-today.firebaseio.com</string>
</dict>
</plist>